
h1 {
    text-align: center;
}


#BotonChiste {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


#BotonChiste:hover {
    background-color: #0056b3; 
}


#Contenedorchiste {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    font-family: Arial, sans-serif; 
}